<%= @page_title = "Edit Issue" %>
<%= link_to("<< Back to list", {:action => 'index'}) %>

<div class="issue edit">
 <h2>Edit Issue</h2>
 
 <%= form_for(:issue, :url => {:action => 'update', :id => @issue.id}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <div class="form-buttons">
   <%= submit_tag("Update Issue") %>
  </div>

 <% end %>
</div>
