<div id="portfolio">
 <div class="page-header">
  <h1>Implementation Calendar for this year </h1>
  <div class="well">This calendar only listed the commencement date of a program, project or activity. To see more, click the title of a project.</div> 
</div>
 <h2 id="month">
  <%= link_to "<", date: @date.prev_month %>
  <%= @date.strftime("%B %Y") %>
  <%= link_to ">", date: @date.next_month %>
 </h2>
 <%= calendar @date do |date| %>
  <%= date.day %>
  <% if @ppas_by_date[date] %>
   <ul>
    <% @ppas_by_date[date].each do |ppa| %>
     <li><%= link_to ppa.title, ppa %></li>
    <% end %>
   </ul>
  <% end %>
 <% end %>
</div>
