<div id="articles">
 <h2 id="month">
  <%= link_to "<", date: @date.prev_month %>
  <%= @date.strftime("%B %Y") %>
  <%= link_to ">", date: @date.next_month %>
 </h2>
 <%= calendar @date do |date| %>
  <%= date.day %>
  <% if @ppas_by_date[date] %>
   <ul>
    <% @ppas_by_date[date].each do |ppa| %>
     <li><%= link_to ppa.title, ppa %></li>
    <% end %>
   </ul>
  <% end %>
 <% end %>
</div>
