<% @page_title = "Review page" %>

<div class="panel panel-primary">
 <div class="panel-heading">The following projects are subject for review.</div>
 <div class="panel-body">

  <div class="badge">
   <%= @portfolios.size %>
  </div>
   <%= @portfolios.size > 1 ? " portfolios found" : " portfolio found" %>
 </div>

 <div class="table-responsive">
  <table class="table">
   <tr class="header">
    <th>Issue</th>
    <th>Parent PPA</th>
    <th>Title</th>
    <th>Amount</th>
    <th>Start Date</th>
    <th>Completion Date</th>
    <th>Action</th>
   </tr>

   <% @portfolios.each do |portfolio| %>
    <tr class="<%= cycle('odd', 'even') %>">
     <td><%= portfolio.issue.title if portfolio.issue %></td>
     <td><%= portfolio.parent.title if portfolio.parent %></td>
     <td><%= portfolio.title %></td>
     <td><%= number_to_currency(portfolio.amount, :precision => 2, :unit => "Php", :format => "%u %n") %></td>
     <td><%= portfolio.start %></td>
     <td><%= portfolio.completion %></td>
     <td class="actions">
      <%= link_to "Review", decision_portfolios_path(id: portfolio.id), :class => "btn btn-warning btn-xs" %>
     </td>
    </tr>
   <% end %>
  </table>
 </div>
 </div>
