<%= error_messages_for(@program) %>

<div  class="form-horizontal">
 <div class="form-group">
  <%= f.label(:issue_id, "Issue", :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.select(:issue_id, @issues.map {|i| [i.title, i.id]}, {}, {:class => "form-control"}) %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:title, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:title, :class => "form-control", :placeholder => "Enter title") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:description, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:description, :size => "40x5", :class => "form-control", :placeholder => "Description") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:performance_indicator, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:performance_indicator, :size => "40x5", :class => "form-control", :placeholder => "Performance indicator") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:target, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:target, :size => "40x5", :placeholder => "Target", :class => "form-control") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:amount, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:amount, :placeholder => "Amount in Peso", :class => "form-control") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:start, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <div class='input-group'>
    <%= f.text_field(:start, :class => "form-control", :placeholder => "i.e. YYYY-MM-DD") %> 
    <span class="input-group-addon"> 
     <span class="glyphicon glyphicon-calendar"></span>
    </span>
   </div>
  </div>
</div>
 
 <div class="form-group">
   <%= f.label(:completion, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <div class='input-group'>
    <%= f.text_field(:completion, :class => "form-control", :placeholder => "i.e. YYYY-MM-DD") %>
    <span class="input-group-addon">
     <span class="glyphicon glyphicon-calendar"></span>
    </span>
   </div>
  </div>
</div>

 <div class="form-group">
   <%= f.label(:rank, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:rank, :placeholder => "Rank", :class => "form-control") %> 
  </div>
 </div>
 
 <div class="form-group">
   <%= f.label(:visible, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:visible, :class => "form-control") %> 
  </div>
 </div>
  
 <div class="form-group">
   <%= f.label(:permalink, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:permalink, :placeholder => "Permalink", :class => "form-control") %> 
  </div>
 </div>

</div>
