<% @page_title = "Program" %>
<div id="pads"> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
  Show Program
 </div>

 <table class="table" summary="program detail view">
  <tr>
   <th>Title</th>
   <td><%= @program.title %></td>
  </tr>
 <tr>
   <th>Description</th>
   <td><%= @program.description %></td>
  </tr>
 <tr>
   <th>Performance Indicator</th>
   <td><%= @program.performance_indicator %></td>
  </tr>
 <tr>
   <th>Target</th>
   <td><%= @program.target %></td>
  </tr>
 <tr>
   <th>Amount</th>
   <td><%= number_to_currency(@program.amount, :precision => 2, :unit => "Php", :format => "%u %n") %></td>
  </tr>
 <tr>
   <th>Start Date</th>
   <td><%= @program.start %></td>
  </tr>
 <tr>
   <th>Completion Date</th>
   <td><%= @program.completion %></td>
  </tr>
 <tr>
   <th>Rank</th>
   <td><%= @program.rank %></td>
  </tr>
 <tr>
   <th>Visible</th>
   <td><%= @program.visible %></td>
  </tr>
  <tr>
   <th>Permalink</th>
   <td><%= @program.permalink %></td>
  </tr>
 </table>
</div>

