<% @page_title = "Sectors" %>

<div id="pads">
 <%= link_to("Add New Sector", {:action => 'new'}, :class => 'btn btn-success btn-sm') %>
</div>

<div class="panel panel-primary">
 <div class="panel-heading">
  sectors
 </div>
 <div class="panel-body">

  <div class="badge">
   <%= @sectors.size %> 
  </div>
   <%= @sectors.size > 1 ? " sectors found" : " sector found" %>

  <div class="table-responsive">
   <table class="table table-striped table-hover" summary="sector list">
    <tr class="header">
     <th>Name</th>
     <th>Actions</th>
    </tr>

    <% @sectors.each do |sector| %>
     <tr class="<%= cycle('odd', 'even') %>">
      <td><%= sector.name %></td>
      <td class="actions">
      <%= link_to "Show", sector, :class => 'btn btn-primary btn-xs' %>
      <%= link_to "Edit", edit_sector_path(sector), :class => 'btn btn-default btn-xs' %>
      <%= link_to "Delete", sector, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger btn-xs' %>

       </td>
      </tr>
    <% end %>
   </table>
  </div>
 </div>
</div>
