<% @page_title = "Sector" %>
<%= link_to("<< Back to list", {:action => 'index'}) %>

<div class="sectors show">
 <h2>Show Sector</h2>

 <table summary="sector detail view">
  <tr>
   <th>Name</th>
   <td><%= @sector.name %></td>
  </tr>
  <tr>
   <th>Description</th>
   <td><%= @sector.description %></td>
  </tr>
  <tr>
   <th>Goal</th>
   <td><%= @sector.goal %></td>
  </tr> 
  <tr>
   <th>Development Thrust</th>
   <td><%= @sector.development_thrust %></td>
  </tr>
  <tr>
   <th>Objective</th>
   <td><%= @sector.objective %></td>
  </tr>
  <tr>
   <th>Desired Outcome</th>
   <td><%= @sector.desired_outcome %></td>
  </tr>
  <tr>
   <th>Required Policy</th>
   <td><%= @sector.required_policy %></td>
  </tr>

 </table>
</div>

