<%= @page_title = "New Department" %>

<%= link_to("<< Back to list", {:action => 'index'}) %>

<div class="department new">
 <h2>New Department</h2>

 <%= form_for(:department, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
   <%= submit_tag("Create Department") %>
  </div>

 <% end %>
</div>
