<% @page_title = "Department" %>

<div id="pads"> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
  Show Department
 </div>

 <table class="table" summary="department detail view">
  <tr>
   <th>Name</th>
   <td><%= @department.name %></td>
  </tr>
  <tr>
   <th>Description</th>
   <td><%= @department.description %></td>
  </tr>
  <tr>
   <th>Telephone</th>
   <td><%= @department.telephone %></td>
  </tr>
  <tr>
   <th>Email</th>
   <td><%= @department.email %></td>
  </tr>
 </table>
</div>
