<%= @page_title = "Edit Project" %>

<%= link_to("<< Back to list", {:action => 'index'}) %>

<div class="project edit">
 <h2>Edit Project</h2>

 <%= form_for(:project, :url => {:action => 'update', :id => @project.id}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
   <%= submit_tag("Update Project") %>
  </div>

 <% end%>
</div>
