<%= @page_title = "Projects" %>

<div class="pojects index">
 <h2>Projects</h2>
  <%= link_to("Add New project", {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@projects.size, 'project') %> found</div>
  <table class="listing" summary="project list">
   <tr class="header">
    <th>Issue</th>
    <th>Program</th>
    <th>Title</th>
    <th>Description</th>
    <th>Performance Indicator</th>
    <th>Target</th>
    <th>Amount</th>
    <th>Start Date</th>
    <th>Completion Date</th>
    <th>Rank</th>
    <th>Visible</th>
    <th>Permalink</th>
   </tr>

   <% @projects.each do |project| %>
    <tr class="<%= cycle('odd', 'even') %>">
     <td><%= project.issue.title if project.issue %></td>
     <td><%= project.program.title if project.program %></td>
     <td><%= project.title %></td>
     <td><%= project.description %></td>
     <td><%= project.performance_indicator %></td>
     <td><%= project.target %></td>
     <td><%= number_to_currency(project.amount, :precision => 2, :unit => "Php", :format => "%u %n") %></td>
     <td><%= project.start %></td>
     <td><%= project.completion %></td>
     <td><%= project.rank %></td>
     <td><%= project.visible %></td>
     <td><%= project.permalink %></td>
     <td class="actions">
      <%= link_to("Show", {:action => 'show', :id => project.id}, :class => 'action show') %>
      <%= link_to("Edit", {:action => 'edit', :id => project.id}, :class => 'action edit') %>
      <%= link_to("Delete", {:action => 'delete', :id => project.id}, :class => 'action delete') %>
      </td>
     </tr>
   <% end %>
  </table>
 </div>
