<% @page_title = "Project" %>
<div id="pads"> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
  Show Project
 </div>

 <table class="table" summary="project detail view">
  <tr>
   <th>Title</th>
   <td><%= @project.title %></td>
  </tr>
 <tr>
   <th>Description</th>
   <td><%= @project.description %></td>
  </tr>
 <tr>
   <th>Performance Indicator</th>
   <td><%= @project.performance_indicator %></td>
  </tr>
 <tr>
   <th>Target</th>
   <td><%= @project.target %></td>
  </tr>
 <tr>
   <th>Amount</th>
   <td><%= number_to_currency(@project.amount, :precision => 2, :unit => "Php", :format => "%u %n") %></td>
  </tr>
 <tr>
   <th>Start Date</th>
   <td><%= @project.start %></td>
  </tr>
 <tr>
   <th>Completion Date</th>
   <td><%= @project.completion %></td>
  </tr>
 <tr>
   <th>Rank</th>
   <td><%= @project.rank %></td>
  </tr>
 <tr>
   <th>Visible</th>
   <td><%= @project.visible %></td>
  </tr>
  <tr>
   <th>Permalink</th>
   <td><%= @project.permalink %></td>
  </tr>
 </table>
</div>

