<% @page_title = "Selected Portfolio of Projects" %>

<div id="pads">
</div>

<div class="panel panel-primary">
 <div class="panel-heading">
  Select projects to implement next year.
 </div>
 <div class="panel-body">

  <div class="badge">
   <%= @ppas.size %> 
  </div>
   <%= @ppas.size > 1 ? " ppas".upcase + " found" : " ppa".upcase + " found" %>

  <div class="table-responsive">
   <table class="table table-striped table-hover" summary="ppa list">
    <tr class="header">
     <th>Title</th>
     <th>Amount</th>
     <th>Score</th>
     <th class="text-center">Rank</th>
     <th>Action</th>
    </tr>

    <% rank = 0 %>
    <% @ppas.each do |ppa| %>
     <tr class="<%= cycle('odd', 'even') %>">
      <td><%= ppa.title %>
      <td><%= number_to_currency(ppa.amount, :precision => 2, :unit => "Php", :format => "%u %n") %></td>
      <td><%= ppa.rank_cart.total_score %></td>
      <td class="text-center"><%= rank += 1 %>
      <% if ppa.approved %>
        <td><%= link_to "Unselect", unselect_selections_path(id: ppa.id), method: :put, class: "btn btn-danger btn-sm" %></td>
       <% else %>
        <td><%= link_to "Select", select_selections_path(id: ppa.id), method: :put, class: "btn btn-success btn-sm" %></td>
       <%end%>
      </tr>
    <% end %>
   </table>
  </div>
 </div>
</div>
