<%= error_messages_for(@risk) %>

<div  class="form-horizontal">

 <div class="form-group">
  <%= f.label(:title, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:title, :class => "form-control", :placeholder => "Enter title") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:description, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:description, :size => "40x5", :class => "form-control", :placeholder => "Enter description") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:category, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:category, :class => "form-control", :placeholder => "Category") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:probability, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:probability, :size => "40x5", :class => "form-control", :placeholder => "Probability") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:severity, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:severity, :size => "40x5", :class => "form-control", :placeholder => "Severity") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:mitigation, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:mitigation, :size => "40x5", :class => "form-control", :placeholder => "Mitigation") %> 
  </div>
 </div>

</div>
