<% @page_title = "Risks" %>

<div id="pads">
 <%= link_to("Add New Risk", [:new, @riskiness, :risk], :class => 'btn btn-success btn-sm') %>
 <%= link_to("Back to #{@riskiness.title}", @riskiness, :class => "btn btn-default btn-sm") %>
</div>

<div class="panel panel-primary">
 <div class="panel-heading">
  Risks
 </div>
 <div class="panel-body">

  <div class="badge">
   <%= @risks.size %> 
  </div>
   <%= @risks.size > 1 ? " risks found" : " risk found" %>

  <div class="table-responsive">
   <table class="table table-striped table-hover" summary="risk list">
    <tr class="header">
     <th>Title</th>
     <th>Description</th>
    </tr>

    <% @risks.each do |risk| %>
     <tr class="<%= cycle('odd', 'even') %>">
      <td><%= risk.title %></td>
      <td><%= truncate(risk.description, length: 50, omission: '...') %></td>
      <td class="actions">
      <%= link_to("Show", {:action => 'show', :id => risk.id}, :class => 'btn btn-primary btn-xs') %>
      <%= link_to("Edit", {:action => 'edit', :id => risk.id}, :class => 'btn btn-default btn-xs') %>
      <%= link_to("Delete", [@riskiness, risk], confirm: "Are you sure?", method: :delete,  :class => 'btn btn-danger btn-xs') %>
       </td>
      </tr>
    <% end %>
   </table>
  </div>
 </div>
</div>
