<%= error_messages_for(@city) %>

<div  class="form-horizontal">
 <div class="form-group">
  <%= f.label(:name, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:name, :class => "form-control", :placeholder => "City/Municipality name") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:address, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:address, :class => "form-control", :placeholder => "Address") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:postcode, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:postcode, :class => "form-control", :placeholder => "Postcode") %> 
  </div>
 </div>
 
 <div class="form-group">
  <%= f.label(:telephone, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:telephone, :class => "form-control", :placeholder => "Telephone") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:website, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:website, :class => "form-control", :placeholder => "Website") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:email, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_field(:email, :class => "form-control", :placeholder => "Email") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:vision, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:vision, :size => "40x5", :class => "form-control", :placeholder => "Vision") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:mission, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:mission, :size => "40x5", :class => "form-control", :placeholder => "Mission") %> 
  </div>
 </div>

 <div class="form-group">
  <%= f.label(:development_thrust, :class => "col-sm-2 control-label") %> 
  <div class="col-sm-10">
   <%= f.text_area(:development_thrust, :size => "40x5", :class => "form-control", :placeholder => "Development Thrust") %> 
  </div>
 </div>

</div>

