<% @page_title = "City" %>
<div id="pads"> 
 <%= link_to("Back", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
  City Details
 </div>

 <table class="table" summary="issue detail view">
  <tr>
   <th>Name</th>
   <td><%= @city.name %></td>
  </tr>
 <tr>
   <th>Address</th>
   <td><%= @city.address %></td>
  </tr>
 <tr>
   <th>Postcode</th>
   <td><%= @city.postcode %></td>
  </tr>

 <tr>
  <th>Telephone</th>
  <td><%= @city.telephone %></td>
 </tr>
 <tr>
  <th>Website</th>
  <td><%= @city.website %></td>
 </tr>
 <tr>
  <th>Email</th>
  <td><%= @city.email %></td>
 </tr>
 <tr>
  <th>Vision</th>
  <td><%= @city.vision %></td>
 </tr>
 <tr>
  <th>Mission</th>
  <td><%= @city.mission %></td>
 </tr>
 <tr>
  <th>Development Thrust</th>
  <td><%= @city.development_thrust %></td>
 </tr>
 </table>
</div>

