<% @page_title = "Edit Report" %>
<div> 
 <%= link_to("Back to list", {controller: "reports", action: "index"}, :class => "btn btn-primary") %>
</div>

<div class="report edit">
 <h2>Edit Report</h2>

 <%= form_for([@ppa, @report], :html => {:multipart => true, :role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div>
   <%= f.hidden_field :portfolio_id, value: @ppa.id %>
   <%= submit_tag("Update", :class => "btn btn-default") %>
  </div>
 <% end %>
</div>
