<% @page_title = "Edit Location" %>
<div> 
 <%= link_to("Back to list", {controller: "locations", action: "index"}, :class => "btn btn-primary") %>
</div>

<div class="location edit">
 <h2>Edit Location</h2>

 <%= form_for([@ppa, @location], :html => {:multipart => true, :role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div>
   <%= f.hidden_field :portfolio_id, value: @ppa.id %>
   <%= submit_tag("Update", :class => "btn btn-default") %>
  </div>
 <% end %>
</div>
